body {
    color: white;
    font-family: sans-serif;
    background: gray url("New-York.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centre{
    margin: auto;
    width: 20%;
}

a {
    color: white;
}

button {
    background-color: indigo;
    color: aliceblue;
    border: 2px solid;
    border-radius: 15px;
    padding: 0.5em 1em 0.5em 1em;
    font-size: medium;
}

#oshibka {
    margin-top: 10px;
    margin-bottom: 10px;
    color: pink;
    font-weight: bold;
}
